<h1 class="page-header">
	New NY Times Feed <small><a href='http://www.nytimes.com/services/xml/rss/index.html' target='_blank'>(view examples)</a></small>
</h1>

<%= render 'form' %>

<hr>
<%= link_to 'Back', feeds_path %>
